@charset "UTF-8";

:root {
    --cor0: white;
    --cor1: #53A6E5;
    --cor2: #0E88E5;
    --cor3: #2C79B3;
    --cor4: #095B99;
    --cor5: #063C66;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2.0em;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor1);
}

header {
    min-height: 200px;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    text-align: center;
    color: var(--cor0);
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.39);
}

header h1 {
    padding-top: 20px;
    text-decoration: none;
    font-size: 2.5em;
    text-shadow: 3px 3px 4px black;
    margin: 0px;
}

 header p {
     max-width: 500px;
     text-decoration: none;
     text-indent: 0em;
     font-size: 1.2em;
     line-height: 1.2;
     text-align: center;
     margin: auto;
     text-shadow: 2px 2px 4px black;
     padding-top: 15px;
 }

nav {
    text-align: left;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 1.2em;
}

nav a {
    text-decoration: none;
    padding: 7px 10px;
    color: var(--cor1);
    font-weight: bold;
    transition: .5s;
}

nav > a:hover {
    background-color: var(--cor1);
    color: var(--cor5);
    border-radius: 4px;
    padding: 7px 10px;
}

main {
    min-width: 280px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 20px;
    background-color: white;
    padding: 4px 20px;
    border-radius: 0px 0px 10px 10px;
}

main h1 {
    text-align: center;
    text-indent: 0px;
    background-image: radial-gradient(circle, var(--cor1), transparent);
    margin: 10px 10px;
}

main h2 {
    text-align: left;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    padding: -30px 0px;
    text-indent: 1em;
    margin: 0px;
}

main a.h2_title {
    text-decoration: none;
    color: var(--cor5);
}
main a:hover {
    font-weight: bold;
    color: var(--cor4);
}

article p {
    text-align: justify;
    text-indent: 2.0em;
    padding: 10px 20px;
}

p#header_introduction {
    text-align: center;
    line-height: 1.2em;
    margin: 0px;
    text-shadow: 3px 3px 4px black;
}

footer {
    background-color: var(--cor5);
    text-align: center;
    color: var(--cor0);
}

footer > p {
    text-align: center;
    line-height: 1.2em;
    padding: 15px 0px;
}