@charset "UTF-8";


* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2.0em;
}

:root {
    --cor0: white;
    --cor1: #53A6E5;
    --cor2: #0E88E5;
    --cor3: #2C79B3;
    --cor4: #095B99;
    --cor5: #063C66;
}

body {
    background-color: var(--cor1);
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    text-align: center;
    color: var(--cor0);
    padding: 0px 5px 5px 5px;
}

nav {
    text-align: left;
}

nav > a {
    text-decoration: none;
    padding: 5px;
    color: var(--cor0);
    font-weight: bold;
}

nav > a:hover {
    background-color: var(--cor1);
    color: var(--cor5);
    border-radius: 4px;
    padding: 10px 5px;
}

main {
    width: 800px;
    height: 1500px;
    margin: auto;
    background-color: white;
    padding: 4px 10px;
}

p {
    text-align: justify;
    text-indent: 2.0em;
}

p#header_introduction {
    text-align: center;
    line-height: 1.2em;
    margin: 0px;
    text-shadow: 3px 3px 4px black;
}

h1 {
    text-decoration: none;
    text-shadow: 3px 3px 4px black;
    margin: 0px;
}